<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
  <!--<add key="configGCM" value="AIzaSyBEZngbKa-QTPiE_if_Ch-W-zxIGI08uo8" />-->
    <add key="configGCM" value="AIzaSyBG6_yu2fCLr0oYaE3mFlljGXa0iut_Lc4" />
    <add key="type" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=RODOLFOCORT6393;Initial Catalog=Notificaciones;Persist Security Info=True;User ID=sa;Password=q1w2e3" />
    <!--<add name="DB" connectionString="Data Source=WINDOWS7-32BITS;Initial Catalog=Notification;Persist Security Info=True;User ID=sa;Password=12345" />-->
    <!--<add name="DB" connectionString="Data Source=(local)\SQLTEMPPUS01;Initial Catalog=Notification;Persist Security Info=True;User ID=push;Password=bbva2014" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>