<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FILE" value="CertificadosBBVAPushMD.p12"/>
    <!--<add key="FILE" value="Certificado_DEV_BBVACLIPHONE_ENTERPRISE.p12"/>-->    
    <add key="PASSWORD" value="ceogay"/>
    <add key="server" value="false"/>
    <!--<add key="PASSWORD" value="mobility"/>-->
    <add key="APPID" value="AIzaSyBEZngbKa-QTPiE_if_Ch-W-zxIGI08uo8"/>    
    <add key="writeFile" value="setting.xls"/>
    <add key="writeDirectory" value="Z:\Github\Actualizacion\Servicios\WCF_PushBBVA\WCF_PushBBVA\bin"/>
    <add key="inputFile" value="Notification.xls"/>
    <add key="inputDirectory" value="C:\inetpub\wwwroot\Manager"/>
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp defaultOutgoingResponseFormat="Json"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="WCF_PushBBVA.Service1" behaviorConfiguration="ServiceBehaviour">
				<endpoint address="" binding="webHttpBinding" contract="WCF_PushBBVA.IService1" behaviorConfiguration="web">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=RODOLFOCORT6393;Initial Catalog=Notificaciones;Persist Security Info=True;User ID=sa;Password=q1w2e3" />
    <!--<add name="DB" connectionString="Data Source=WINDOWS7-32BITS;Initial Catalog=Notificaciones;Persist Security Info=True;User ID=sa;Password=12345" />-->
    <!--<add name="DB" connectionString="Data Source=(local)\SQLTEMPPUS01;Initial Catalog=Notification;Persist Security Info=True;User ID=push;Password=bbva2014" />-->

  </connectionStrings>

</configuration>
